.jumbotron{
	background-image: url("../images/landing.jpg");

}
#white {
	color: white;
}


.first{
	background-color: orange;
}
.breakfast{
	background-image: url("../images/breakfast.jpg");
}
.lunch{
	background-image: url("../images/lunch.jpg");
}
.dinner{
	background-image: url("../images/dinner.jpg");
}