ul{
	list-style-type: none;
   margin: 0;
    padding: 0;
    overflow: hidden;
   background-color: white;
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
  text-align: center;
    padding: 14px 25px;
    text-decoration: none;
    background-color: #dddddd ;
}

li a:hover {
    background-color:grey;
  }
  #breko{
    background-image: url(../images/breakfast.jpg);
   padding:8%;
    opacity: 1.0; 
    background-size: cover;
    

  }
  #dinner{
  	   padding:8%;

    background-image: url(../images/dinner.jpg);
    background-size: cover;
   

  }
  #lunch{
  	  	   padding:8%;

    background-image: url(../images/lunch.jpg);
    background-size: cover;
   
    
  }
#happy-hour{
  text-align: center;
  background-color: gainsboro;
  width:110%;
  height: 110px;
}

#toggle{
	height: 5px;
	z-index: 1;

}

}
#party-time{
  text-align: center;
  background-color: red;
  height: 110px;
  width:110%;
}
h1{
  color: #F15A29;
  font-size: 30px;
}
#backgroundHead{
	background-image: url("../images/landing.jpg");
	background-repeat: no-repeat;
}
#subscribe{
	background-image: url("../images/subscribe.jpg");
	text-align: center;
	color: white;
}
#subs{
	background-color: #F15A29;
}
button{
	background-color: #F15A29;
}
.col-md-3{
	color: white;
}
#white{
	color: white;
}
#party-time{
	background-color: #F15A29;
	width:110%;
  	height: 110px;
}


.jumbotron .slay{
text-align: left;	
}

.footer{
	background-color:#F15A29;
	text-align: center;
	padding: 20px;	
}

#img{
	height: 20%;
}